<!-- Button trigger modal -->
<ng-template #noproduct>
    <h2>No Product to Display</h2>
  </ng-template>
<table>
    <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Price</th>
        <th>ProductImage</th>
        <th>QuantityOnHand</th>
        <th>ReOrderLevel</th>
    </tr>

    <tr *ngIf="product;else noproduct">
        <td>{{product.ProductID}}</td>
        <td>{{product.ProductName}}</td>
        <td>{{product.Category}}</td>
        <td>{{product.Brand}}</td>
        <td>{{product.Price}}</td>
        <td><img [src]="product.ProductImage" *ngIf="product.ProductImage" style="float:right" width="80" /> </td>
        <td>{{product.QuantityOnHand}}</td>
        <td>{{product.ReOrderLevel}}</td>
        
        
    </tr>

</table>